
.sider {
  width: 260px;
  min-width: 256px;
  max-width: 256px;
  min-height: 260px;
  background: #343a40;
  min-height: 100vh;
  transition: all .3s;
  a {
    text-decoration: none;
    transition: color .3s;
  }
  :global {
    .w-menu-vertical {
      border-right-color: transparent;
    }
  }
}

.logo {
  height: 64px;
  position: relative;
  line-height: 64px;
  padding-left: 24px;
  padding-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  svg {
    height: 38px;
    width: 38px;
    display: inline-block;
    vertical-align: middle;
  }
  svg path{
    fill: #fff;
  }
  h1 {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    margin: 0 0 0 18px;
    font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 600;
    sup {
      font-weight: normal;
      font-size: 12px;
      color: #909090;
    }
  }
}
