.upload-list-picture-card-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.upload-list-picture-card-container {
  display: inline-block;
  width: 104px;
  height: 104px;
  margin: 0 8px 8px 0;
  vertical-align: top;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  padding: 8px;
}

.upload-list-item {
  position: relative;
  height: 100%;
  overflow: hidden;
  z-index: 20;
}

.upload-list-item-actions {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  white-space: nowrap;
  transform: translate(-50%,-50%);
  color: #fff;
}

.upload-select-picture-card  {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border:"1px dashed #d9d9d9";
  background-color: #fafafa;
}