
.loading {
  position: absolute;
  z-index: 9999;
  height: 100vh;
  width: 100%;
  backdrop-filter: saturate(180%) blur(.4rem);
  background-color: hsla(0,0%,100%,.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tools {
  position: fixed;
  z-index: 99999;
  bottom: 10px;
  left: 10px;
}