._footToolbar_70hi4_1 {
  background-color: #ffffff;
  height: 58px;
  line-height: 58px;
  padding: 0 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
}
._footToolbar_70hi4_1:after {
  content: '';
  clear: both;
}
._extra_70hi4_15 {
  float: left;
}
._actions_70hi4_18 {
  float: right;
}
._children_70hi4_21 {
  max-height: 58px;
  overflow: hidden;
}
._avatarList_1jyn2_1 {
  display: inline-block;
}
._avatarList_1jyn2_1 ul {
  display: inline-block;
  margin-left: 8px;
  font-size: 0;
}
._avatarList_1jyn2_1 + ._avatarList_1jyn2_1 {
  margin-left: 8px;
}
._avatarListItem_1jyn2_12 {
  display: inline-block;
}
._avatarListItem_1jyn2_12:hover {
  cursor: pointer;
}
._avatarItemSmall_1jyn2_18,
._avatarItemDefault_1jyn2_19,
._avatarItemLarge_1jyn2_20 {
  margin-left: -8px;
}
