._ellipsis_1q4an_1 {
  overflow: hidden;
  display: inline-block;
  word-break: break-all;
  width: 100%;
}
._lines_1q4an_7 {
  position: relative;
}
._lines_1q4an_7 ._shadow_1q4an_10 {
  display: block;
  position: relative;
  color: transparent;
  opacity: 0;
  z-index: -999;
}
._lineClamp_1q4an_17 {
  position: relative;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  display: -webkit-box;
}
._cardItem_6k8w2_1 {
  margin-bottom: 16px;
}
._cardItem_6k8w2_1 .w-card-body {
  font-size: 14px;
}
