.uiw-global-header-menu {
  line-height: 42px;
  display: inline-block;
  cursor: pointer;
}
.uiw-global-header-menu img {
  height: 30px;
  width: 30px;
  margin-top: -5px;
  vertical-align: middle;
  border-radius:50px;
}
