.uiw-admin-icons {
  width: 34px;
  height: 34px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  opacity: .9;
  cursor: pointer;
  transition: background .5s;
  border-radius: 5px;
}
.uiw-admin-icons:hover {
  opacity: 1;
  background: rgba(199, 199, 199, .3);
}