.headerList {
  margin-bottom: 4px;
}

.tabsCard {
  margin-bottom: 24px;
  :global {
    .ant-card-head {
      padding: 0 16px;
    }
  }
}
.textSecondary{
  color: rgba(0, 0, 0, 0.45);
}
.heading{
  color: rgba(0, 0, 0, 0.85);
  font-size: 20px;
}
