#root > div {
  height: 100%;
}
.uiw-admin-global-sider-menu {
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  overflow: auto;
}

.uiw-admin-global-sider-menu .w-menu-item {
  padding: 9px;
}
.uiw-admin-global-sider-menu .w-menu-item.active {
  background: rgba(167, 182, 194, 0.3) !important;
  border-radius: 7px;
}
.uiw-admin-global-sider-menu .w-menu-item:hover {
  background: transparent;
  color: #fff;
}

.uiw-admin-global-sider-menu .w-search-select-search-true input {
  height: 34px;
  border-radius: 7px;
}

.w-layout-header.uiw-admin-global-header > * {
  vertical-align: middle;
}
.w-layout-header.uiw-admin-global-header {
  /* border-bottom: 1px solid #ccc; */
  height: 53px;
  min-height: 53px;
  line-height: 53px;
  background-color: #fff;
  padding-left: 10px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
}
.uiw-admin-global-title,
.uiw-admin-global-title-top {
  position: relative;
  padding: 0 14px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s;
}
.uiw-admin-global-title-top {
  height: 100%;
}

.uiw-admin-global-title-top a {
  height: 100%;
  text-decoration: none !important;
}
.uiw-admin-global-title a {
  text-decoration: none !important;
}
.uiw-admin-global-title h1,
.uiw-admin-global-title-top h1 {
  box-sizing: border-box;
  display: inline-block;
  margin: 0 12px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  vertical-align: middle;
  animation: fade-in;
  animation-duration: 0.3s;
  white-space: nowrap;
}
.uiw-admin-global-title a {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 10px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.uiw-admin-global-title img,
.uiw-admin-global-title-top img {
  display: inline-block;
  height: 36px;
  vertical-align: middle;
}

.uiw-admin-global-title-top a {
  display: flex;
  align-items: center;
  text-decoration: none !important;
}

.uiw-admin-global-content {
  /* overflow: auto; */
  height: 100%;
  /* padding: 14px; */
}

.w-overlay {
  z-index: 1000;
}

.w-notify-warpper {
  z-index: 1001;
}
.uiw-admin-nav {
  display: inline-flex;
  align-items: center;
}

.w-overlay .w-menu-item {
  padding: 9px 8px;
  border-radius: 5px;
}