.pageHeader{
  background: #fff;
  padding: 16px 26px 0;
  border-bottom: 1px solid #e8e8e8;
  .row{
    display: flex;
  }
  .content{
    margin-bottom: 16px;
    font-size: 14px;
    .title{
      font-size: 20px;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.85);
    }
  }
  .extraContent{
    margin-left: 68px;
    min-width: 242px;
  }
}
