.uiw-loayout-login {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-image: url('./../assets/bg.jpeg'); */

  overflow: auto;
}

.uiw-loayout-login-warp {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
  /* flex-direction: column; */
}

.uiw-loayout-login-warp-left {
  justify-content: flex-start;
  padding-left: 60px;
}

.uiw-loayout-login-warp-center {
  justify-content: center;
}

.uiw-loayout-login-warp-right {
  justify-content: flex-end;
  padding-right: 60px;
}

.uiw-loayout-login-warp .uiw-loayout-login-body {
  width: 360px;
  background-color: transparent;
  background-color: #fff;
  border-radius: 10px;
  padding: 26px 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uiw-loayout-login-warp .uiw-loayout-login-body .w-form {
  flex: 1;
  width: 100%;
}

.logo {
  font-size: 40px;
  color: #333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
}

.uiw-title {
  display: block;
  font-weight: bold;
  font-size: 30px;
  color: #333;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
}

.form-field {
  outline: none;
  border: none;
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 45px;
  background: 0 0;
  padding: 0 5px;
  box-shadow: 0 0 0 1000px white inset;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #ffffff;
  border-right-color: #ffffff;
  border-bottom-color: #666;
  border-left-color: #ffffff;
}

.form-field:focus {
  transition-delay: 0.6s;
  border-bottom-color: #dc3545;
}

.btns {
  display: block;
  width: 100%;
  margin-left: 0px !important;
  padding: 15px 10px;
  border: none;
  /* background: linear-gradient(to right, #de48b5 0%, #0077ff 100%); */
  border-radius: 50px;
  margin-top: 10px;
  /* color: #fff; */
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
}

.copyright-footer {
  /* position: absolute; */
  color: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 30px;
}


.w-overlay {
  z-index: 1000;
}

.w-notify-warpper {
  z-index: 1001;
}