.resultWrapper {
  padding: 10px;
  // background-color: white;
}

.iconBar {
  margin-bottom: 10px;
  text-align: center;
  i {
    font-size: 60px;
    color: #3d90f2;
  }
}
.error {
  i {
    color: red;
  }
}

.title {
  font-size: 16px;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 10px;
}

.description {
  font-size: 14px;
  text-align: center;
  line-height: 16px;
  padding:20px 0;
  color:rgba(0, 0, 0, 0.45);
  max-width: 70%;
  margin: 0 auto;
}

.extra {
  font-size: 12px;
  padding: 24px 40px;
  max-width: 70%;
  margin: 10px auto 24px auto;
  background-color: #fafafa;
}

.children {
  margin-bottom: 10px;
}

.actions {
  margin-bottom: 10px;
  button i {
    margin-left: 5px;
  }
  button + button {
    margin-left: 10px;
  }
}

.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}