.exceptions {
  min-height: 500px;
  height: 80%;
  display: flex;
}
.exceptions .contents {
  flex: auto;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.exceptions .contents h1 {
  color: #434e59;
  font-size: 72px;
  font-weight: bold;
  line-height: 72px;
  margin-bottom: 24px;
}
.exceptions .contents h2 {
  color: rgba(0, 0, 0, 0.45);
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 16px;
}
.exceptions .contentimgs {
  flex: 0 0 62.5%;
  width: 62.5%;
  padding-right: 152px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  zoom: 1;
}
.exceptions .contentimgs .imgscontent {
  height: 360px;
  width: 100%;
  max-width: 430px;
  float: right;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}
.exceptions .contentimgs .imgs404 {
  background-image: url('./../asset/404.svg');
}
.exceptions .contentimgs .imgs403 {
  background-image: url('./../asset/403.svg');
}
.exceptions .contentimgs .imgs500 {
  background-image: url('./../asset/500.svg');
}
