.is-need-table-header {
  border-top: 1px solid #e8e8e8;
}
.is-need-table-header table thead {
  display: none;
}
.table-parent-uiw-admin table tr td {
  background-color: transparent !important;
  background: transparent !important;
}

.uiw-admin-protable table tr td {
  padding: 8px;
}

.uiw-protable-form .w-form-label {
  font-weight: normal;
  color: rgba(0, 0, 0, 0.7);
}

.uiw-protable-form .w-select {
  background-color: transparent;
}