.is-need-table-header {
  border-top: 1px solid #e8e8e8;
}
.is-need-table-header table thead {
  display: none;
}
.table-parent-uiw-admin table tr td {
  background-color: transparent !important;
  background: transparent !important;
}