.wapper {
  overflow-x: hidden;
}

.sider {
  float: left;
  width: 260px;
  min-height: 260px;
  background: #343a40;
  min-height: 100vh;
  :global {
    .w-menu{
      background: transparent;
      border-right: transparent;
      color: #ccc;
      .w-menu-item{
        a {
          color: #ccc;
          text-decoration: none;
        }
        &.active a {
          color: #fff;
        }
        &:after {
          right: 0;
        }
        &.active{
          color: #fff;
          background: #ffffff24;
        }
        &.disabled {
          color: #989898 !important;
        }
      }
      .w-sub-menu-con {
        background: #2a3035;
      }
    }
  }
}

.logo {
  height: 64px;
  position: relative;
  line-height: 64px;
  padding-left: 24px;
  padding-bottom: 10px;
  svg {
    height: 38px;
    width: 38px;
    display: inline-block;
    vertical-align: middle;
  }
  svg path{
    fill: #fff;
  }
  h1 {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    margin: 0 0 0 12px;
    font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 600;
  }
}

.header {
  border-bottom: 1px solid #ccc;
  min-height: 52px;
  padding: 0 0 0 18px;
  background: #fff;
}

.breadcrumb{
  margin-bottom: 16px;
  font-size: 14px;
  a {
    text-decoration: none;
  }
  &,a{
    color: rgba(0, 0, 0, 0.45);
    transition: color .3s;
  }
}

.content {
  margin-left: 260px;
  background: #f0f2f5;
  min-height: 100%;
}