.wapper {
  overflow-x: hidden;
}

.sider {
  float: left;
  width: 260px;
  min-height: 260px;
  background: #343a40;
  min-height: 100vh;
  :global {
    .w-menu{
      background: transparent;
      border-right: transparent;
      color: #ccc;
      .w-menu-item{
        a {
          color: #ccc;
          text-decoration: none;
          transition: color .3s;
        }
        &:after {
          right: 0;
        }
        &.active, &.active a ,a:hover{
          color: #0fa120;
        }
        &.disabled {
          color: #989898 !important;
        }
      }
      .w-sub-menu-con {
        background: #2a3035;
      }
      .w-sub-menu-title {
        transition: color .3s;
      }
    }
  }
}

.logo {
  height: 64px;
  position: relative;
  line-height: 64px;
  padding-left: 24px;
  padding-bottom: 10px;
  svg {
    height: 38px;
    width: 38px;
    display: inline-block;
    vertical-align: middle;
  }
  svg path{
    fill: #fff;
  }
  h1 {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    margin: 0 0 0 12px;
    font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 600;
  }
}

.header {
  border-bottom: 1px solid #ccc;
  min-height: 52px;
  line-height: 52px;
  padding: 0 18px;
  background: #fff;
}
.headerLeft {
  float: left;
  a {
    display: inline-block;
    padding: 0 8px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    transition: background-color .3s, color .3s;
    &:hover {
      background: #f1f1f1;
    }
  }
}
.headerRight {
  float: right;
  .item {
    display: inline-block;
    padding: 0 8px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    transition: background-color .3s, color .3s;
    cursor: pointer;
    &:hover {
      background: #f1f1f1;
    }
  }
  :global {
    .w-icon-bell {
      margin: -2px 0 0 0;
    }
    .w-badge sup.w-dot {
      color: transparent;
    }
  }
}

.breadcrumb{
  margin-bottom: 16px;
  font-size: 14px;
  a {
    text-decoration: none;
  }
  &,a{
    color: rgba(0, 0, 0, 0.45);
    transition: color .3s;
  }
}

.content {
  margin-left: 260px;
  background: #f0f2f5;
  min-height: 100%;
}