.w-form-item-center {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.w-switch,
.w-checkbox,
.w-radio
 {
  height: 30px;
  display: inline-flex;
  align-items: center;
  margin-right: 5px;
}

.w-proform-label {
  position: relative;
  padding-left: 7px;
  display: inline-block;
}
.w-proform-label::before {
  content: '*';
  position: absolute;
  left: 0;
  top: 3px;
  transform: translateX(-50%);
  color: red;
}