.w-form-item-center {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.w-switch,
.w-checkbox,
.w-radio
 {
  height: 30px;
  display: inline-flex;
  align-items: center;
  margin-right: 5px;
}

.w-proform-label {
  position: relative;
  padding-left: 7px;
  display: inline-block;
}
.w-proform-label::before {
  content: '*';
  position: absolute;
  left: 0;
  top: 3px;
  transform: translateX(-50%);
  color: red;
}

.uiw-admin-proform .w-form-label {
  font-weight: normal;
  color: rgba(0, 0, 0, .5);
}
.uiw-admin-proform .w-select {
  background-color: transparent;
}

.uiw-admin-proform > .w-card .w-card-head {
  height: 44px;
  line-height: 44px;
}
.uiw-admin-proform > .w-descriptions .w-descriptions-title {
  height: 44px;
  display: flex;
  align-items: center;
}
.uiw-admin-proform > .w-collapse .w-collapse-header {
  height: 44px;
  align-items: center;
  font-weight: 500;
}
.uiw-admin-proform > .w-descriptions {
  border-top: none;
}
.uiw-admin-proform > .w-descriptions .w-descriptions-title {
  width: 100%;
  display: table-caption;
  box-sizing: border-box;
  line-height: 44px;
  border-top: 1px solid #dfe2e5;
  padding: 0 12px;
}
.uiw-admin-proform-btn {
  height: 34px;
  min-width: 80px;
}
.uiw-admin-proform-horizontal .w-form {
  padding-top: 14px;
}
.uiw-admin-proform-horizontal .w-form-item {
  display: flex;
  align-items: flex-start;
  position: relative;
  padding-bottom: 16px;
}
.uiw-admin-proform-horizontal .w-form-item .w-form-label {
  margin-right: 14px;
  width: 120px;
  text-align: right;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.uiw-admin-proform-horizontal .w-form-item .w-form-label::after {
  content: ':';
  position: absolute;
  right: 0;
  top: 7px;
}
.uiw-admin-proform-horizontal .w-form-item .w-form-help {
  position: absolute;
  left: 134px;
  bottom: -2px;
}
.uiw-admin-proform-vertical .w-descriptions-vertical .w-descriptions-item-label {
  text-align: left;
}