.uiw-global-header-menu {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.uiw-global-header-menu .avatar,
.uiw-global-header-menu img {
  height: 30px;
  width: 30px;
  border-radius:50px;
  background-color: antiquewhite;
}
.uiw-global-header-menu .avatar{
  line-height: 30px;
  text-align: center;
  font-weight: bolder;
  background-color: rgba(167, 182, 194, 0.3);
}