@w-form:~ "w-form";

.@{w-form} {
  &-grid {
    display: grid;
    grid-gap: 10px;
  }
  &-item-center{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;
  }
  &-label {
    position: relative;
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    font-size: 12px;
    height: 20px;
    color: #000000d9
  }

  &-label-error {
    border-color: 'red';
    border-bottom-width: 1px;
    line-height: 1.5715;
    font-size: 12px;
    color: #ff4d4f;
  }
}

